{% extends 'base.html' %}
{% load static %}
{% block title %}Widget's Forum{% endblock %}
{% block content %}
<div class="container justify-content-md-center align-items-center vh-80" id="trial">
     <div class="row">
          <div class="col-12">
               <div class="main content" style="font-family:'Inter';">
                    <button>Upload Cover</button>
               </div>
          </div>
     </div>
     <div class="row">
          <div class="col-md-auto">
               <p class="display-1" style="font-family:'Inter';">Event Name</p>
          </div>
     </div>
     <div class="row mb-3">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-10">
               <input type="email" class="form-control" id="colFormLabelDate">
          </div>
     </div>
     <div class="row mb-3">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Time</label>
          <div class="col-sm-10">
               <input type="email" class="form-control" id="colFormLabelTime">
          </div>
     </div>
     <div class="row mb-3">
          <label for="colFormLabel" class="col-sm-2 col-form-label">Venue</label>
          <div class="col-sm-10">
               <input type="email" class="form-control" id="colFormLabelVenue">
          </div>
     </div>
     <div class="row">
          <div class="col">
               <p class="display-1" style="font-family:'Inter';">Upload Images</p>
          </div>
     </div>
     <div class="row">
          <div class="col">
               <div class="main content" style="font-family:'Inter';">
                    <button>Create Event</button>
               </div>
          </div>
     </div>
</div>
{% endblock %}