{% extends 'base.html' %}
{% load static %}
{% block title %}Widget's Forum{% endblock %}
{% block content %}
<ul>
    {% for event in object_list %}
        <ul>
            {% for event_fields in object_list %}
            <div class="center-cropped"
                style="background-image: url({{event_fields.event_header.url}});"></div>
            </div>
            <a href="{{ event.get_absolute_url }}">{{ event.event_name }}</a>
            <li>{{event_fields.event_organizer}}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
{% endblock %}
