{% extends 'base.html' %}
{% load static %}
{% block title %}Events{% endblock %}
{% block content %}
<div class="container-fluid mt-6 pt-5 bg-light">

    <!-- Displays Page Title as Header -->
    <div class="d-flex justify-content-center align-items-center">
        <h1>Event Catalog</h1>
    </div>

    <!-- Displays Search Function -->
    <form action="{% url 'event_management:event-search'  %}" method=POST>
        {% csrf_token %}
        <div class="form-group row justify-content-start justify-content-sm-center align-items-center mt-3 mb-5" role="search">
            <div class="col-sm-6 mb-3">
                <input class="form-control border-dark" type="search" name="searched" placeholder="Search by Event Name or Description" aria-label="Search" value="{{request.GET.title}}">
            </div>
            <div class="col-sm-auto mb-3">
                <button class="btn btn-red" type="submit" value="Search">SEARCH</button>
            </div>
            <div class="col-sm-auto mb-3">
                <a href="{% url 'event_management:event-list' %}" class="btn btn-blue" role="button">DISPLAY ALL</a>
            </div>
        </div>
    </form>

    <!-- Displays searched events in card format, or a message if the event is not found or no search entry was placed -->
    <div class="row mx-md-5 mx-sm-3 mx-1">
        {% if searched %}
            {% for event in events %}
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <img src="{{ event.event_header.url }}" class="card-img-top" alt="{{ event.event_name }}">
                        <div class="card-body d-flex flex-column px-2 py-1">
                            <h6 class="card-title mb-0">{{ event.event_name }}</h6>
                            <p class="card-text organizer">{{ event.event_organizer.first_name }} {{ event.event_organizer.last_name }}</p>
                            {% if event.event_datetime_start.date == event.event_datetime_end.date %}
                                {% if event.event_datetime_start.time == event.event_datetime_end.time %}
                                    <p class="card-text datetime align-self-end mb-0 mt-auto">{{ event.event_datetime_start.date }} | {{event.event_datetime_start|time:"h:i A"}}</p>
                                {% else %}
                                    <p class="card-text datetime align-self-end mb-0 mt-auto">{{ event.event_datetime_start.date }} | {{ event.event_datetime_start|time:"h:i A" }} - {{ event.event_datetime_end|time:"h:i A" }}</p>
                                {% endif %}
                            {% else %}
                                <p class="card-text datetime align-self-end mb-0 mt-auto">{{ event.event_datetime_start.date }}-{{ event.event_datetime_end.date }} | {{ event.event_datetime_start|time:"h:i A" }} - {{ event.event_datetime_end|time:"h:i A" }}</p>
                            {% endif %}
                            <a href="{{ event.get_absolute_url }}" class="card-link stretched-link"></a>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <div class="d-flex flex-column min-vh-100">
                        <div class="flex-grow-1">
                            <h5>No matches found.</h5>
                        </div>
                    </div>
            {% endfor %}
        {% else %}
            <div class="d-flex flex-column min-vh-100">
                <div class="flex-grow-1">
                    <h5>No entry in search bar.</h5>
                </div>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}
