{% extends 'base.html' %}
{% load static %}
{% block title %}Create Event{% endblock %}
{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">

    <div class="container event-container bg-light shadow overflow-hidden my-3 my-md-5">
        
        <!-- Create Event -->
        <div class="row mt-md-3 mt-2">
            <div class="col">
                <h1 class="text-center">
                    {% if form.event_name.value %}
                        Update Your Event
                    {% else %}
                        Create Your Event
                    {% endif %}
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col ms-2 me-2">
                <h5 class="mt-4 mb-2">Add Event Details</h5>

                <form enctype="multipart/form-data" class="mb-4" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group mb-3">
                            <label>{{ field.label }}</label>
                            
                            {% if field.field.required %}
                                <span class="required text-danger">*</span>
                            {% endif %}
                            
                            {{ field }}

                            {% if field.help_text %}
                                <small class="text-muted">{{ field.help_text }}</small>
                            {% endif %}

                            {% for error in field.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    
                    {% with named_formsets.images as formset %}
                        {{ formset.management_form }}

                        <script type="text/html" id="images-template">
                            <tr id="images-__prefix__" class= hide_all>
                                {% for fields in formset.empty_form.hidden_fields %}
                                    {{ fields }}
                                {% endfor %}
                                {% for fields in formset.empty_form.visible_fields %}
                                    <td>{{ fields }}</td>
                                {% endfor %}
                            </tr>
                        </script>

                        <div class="mt-5">
                            <h5 class="mb-2">Add Promotional Images</h5>
                            
                            <table class="table">
                                <thead>
                                    <tr scope="col">
                                        <!-- Note: It's not required to have promotional images. -->
                                        <th>Image</th>
                                        <th class="text-center">Delete?</th>
                                    </tr>
                                </thead>
                                <tbody id="item-images"> <!-- id="item-inlineformsetname" -->

                                    <!-- formset non forms errors -->
                                    {% for error in formset.non_form_errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}

                                    {% for formss in formset %}
                                        {{ formss.management_form }}
                                        
                                        <tr id="images-{{ forloop.counter0 }}" class= hide_all> <!-- id="inlineformsetname-counter" -->

                                            {{ formss.id }}

                                            {% for field in formss.visible_fields %}
                                                <td>
                                                    {{field}}
                                                    {% for error in field.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            
                            </table>
                            
                            <a href="#" id="add-image-button" class="btn btn-blue me-2 px-4 add-images">Add More</a>

                        </div>

                    {% endwith %}
                    
                    <div class="form-group d-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-red px-4">Submit</button>
                    </div>

                </form>
                
            </div>

        </div>

    </div>

</div>

<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        // when user clicks add more btn of images
      $('.add-images').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-images').children().length;
          var tmplMarkup = $('#images-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-images').append(compiledTmpl);
  
          // update form count
          $('#id_images-TOTAL_FORMS').attr('value', count+1);
      });
    });
</script>
{% endblock %}