{% extends 'base.html' %}
{% load static %}
{% block title %}Create Event{% endblock %}
{% block content %}

<!-- {% block event_form %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
{{ form.media }}
{% endblock %} -->

{{ form.media }}

<div class="d-flex flex-column justify-content-center align-items-center">

    <div class="container event-container bg-light shadow overflow-hidden my-3 my-md-5">
        
        <!-- Create Event -->
        <div class="row mt-md-3 mt-2">
            <div class="col">
                <h1 class="text-center">Event Form</h1>
            </div>
        </div>

        <div class="row">
            <div class="col ms-2">
                <h5 class="mt-4 mb-2">Add Event Details</h5>

                <form enctype="multipart/form-data" class="mb-4" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="form-group mb-3">
                            <label>{{ field.label }}</label>
                            
                            {% if field.field.required %}
                                <span class="required text-danger">*</span>
                            {% endif %}
                            
                            {% if field.label == 'Event Organizer' %}
                                <input type="text" class="form-control" value="{{ user }}" readonly>
                            {% else %}
                                {{ field }}
                            {% endif %}

                            {% for error in field.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    
                    {% with named_formsets.images as formset %}
                        {{ formset.management_form }}

                        <script type="text/html" id="images-template">
                            <tr id="images-__prefix__" class= hide_all>
                                {% for fields in formset.empty_form.hidden_fields %}
                                    {{ fields }}
                                {% endfor %}
                                {% for fields in formset.empty_form.visible_fields %}
                                    <td>{{ fields }}</td>
                                {% endfor %}
                            </tr>
                        </script>

                        <div class="mt-5 me-2">
                            <h5 class="mb-2">Add Promotional Images</h5>
                            
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Image
                                            <!-- double check whether it's required -->
                                            <span class="required text-danger">*</span>
                                        </th>
                                        <th>Delete?</th>
                                    </tr>
                                </thead>
                                <tbody id="item-images"> <!-- id="item-inlineformsetname" -->

                                    <!-- formset non forms errors -->
                                    {% for error in formset.non_form_errors %}
                                        <span class="text-danger">{{ error }}</span>
                                    {% endfor %}

                                    {% for formss in formset %}
                                        {{ formss.management_form }}
                                        
                                        <tr id="images-{{ forloop.counter0 }}" class= hide_all> <!-- id="inlineformsetname-counter" -->

                                            {{ formss.id }}

                                            {% for field in formss.visible_fields %}
                                                <td>
                                                    {{field}}
                                                    {% for error in field.errors %}
                                                        <p class="text-danger">{{ error }}</p>
                                                    {% endfor %}
                                                </td>
                                            {% endfor %}
                                            
                                            <!-- delete code -->
                                            {% if formss.instance.pk %}
                                                <td>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{formss.instance.pk}}">
                                                        Delete
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Confirm Delete</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <a href="{% url 'event_management:delete_image' formss.instance.pk %}" class="btn btn-primary">Yes, Delete</a>
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            {% endif %}

                                        </tr>

                                    {% endfor %}

                                </tbody>
                            
                            </table>
                            
                            <a href="#" id="add-image-button" class="btn btn-blue me-2 px-4 add-images">Add More</a>

                        </div>

                    {% endwith %}
                    
                    <div class="form-group d-flex justify-content-end mt-4">
                        <button type="submit" class="btn btn-red me-2 px-4">Submit</button>
                    </div>

                </form>
            </div>
        </div>


        



    </div>

</div>



<div id="rbb-container container" class="my-5">
    <div id="rbb-section" class="mx-form px-3 py-4 bg-white">
        <p class="h1">
            {% if form.event_name.value %}
                Update Event
            {% else %}
                Create Event
            {% endif %}
            {% comment %} Event Details {{ form.event_name }} {% endcomment %}
        </p>
        <form enctype="multipart/form-data" method="post">
            <input type="hidden" id="id_event_organizer" name="event_organizer_id" value="{{ user.pk }}"/>
            {% csrf_token %}
                {% for field in form %}
                <div class="form-group card-body">
                    <label>{{field.label}}</label>
                    {% if field.field.required %}
                        <span style="color: red;" class="required">*</span>
                    {% endif %}
                
                    {{field}}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}  
        
            {% with named_formsets.images as formset %}
                {{ formset.management_form }}
                <script type="text/html" id="images-template">
                    <tr id="images-__prefix__" class= hide_all>
                        {% for fields in formset.empty_form.hidden_fields %}
                            {{ fields }}
                        {% endfor %}
                        {% for fields in formset.empty_form.visible_fields %}
                            <td>{{ fields }}</td>
                        {% endfor %}
                    </tr>
                </script>
                <div class="table-responsive mt-4">
                    <div class="card-header card-header-secondary">
                        <h4 class="card-title">Add Promotional Images</h4>
                    </div>
                    <table class="table card-body">
                        <thead class="text-secondary">
                            <th>Image <span style="color: red;" class="required">*</span></th>
                            <th>Delete?</th>
                            {% comment %} <th>Custom Delete btn</th> {% endcomment %}
                        </thead>
                        <tbody id="item-images">  <!-- id="item-inlineformsetname" -->
                            <!-- formset non forms errors -->
                            {% for error in formset.non_form_errors %}
                                <span style="color: red">{{ error }}</span>
                            {% endfor %}
                            {% for formss in formset %}
                                {{ formss.management_form }}
                                <tr id="images-{{ forloop.counter0 }}" class= hide_all>  <!-- id="inlineformsetname-counter" -->
                                    {{ formss.id }}
                                    {% for field in formss.visible_fields %}
                                        <td>
                                            {{field}}
                                            {% for error in field.errors %}
                                                <span style="color: red">{{ error }}</span>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                    <!-- delete code -->
                                    {% comment %} {% if form.instance.pk %}
                                        <td>
                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{formss.instance.pk}}">
                                                Delete
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal{{formss.instance.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{formss.instance.pk}}" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel{{formss.instance.pk}}">Are Your Sure You Want To Delete This?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="{% url 'event_management:delete_image' formss.instance.pk %}" type="button" class="btn btn-primary">Yes, Delete</a>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                                </div>
                                            </div>
                                        </td>            
                                    {% endif %} {% endcomment %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a href="#" id="add-image-button" class="btn btn-blue add-images">Add More</a> <!-- id="add-inlineformsetname-button" -->
                </div>
            {% endwith %}
            <div class="mt-4 form-group">
                <button type="submit" class="btn btn-blue btn-block">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap.bundle.min.js"></script>
<script>
    $(document).ready(function() {
        // when user clicks add more btn of images
      $('.add-images').click(function(ev) {
          ev.preventDefault();
          var count = $('#item-images').children().length;
          var tmplMarkup = $('#images-template').html();
          var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
          $('#item-images').append(compiledTmpl);
  
          // update form count
          $('#id_images-TOTAL_FORMS').attr('value', count+1);
      });
    });
</script>
{% endblock %}