{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object }}{% endblock %}
{% block content %}
<div class="container-fluid mt-6 bg-light">
    <img src="{{ object.event_header.url }}">
    <p>{{ object }}</p>
    <p>{{object.event_description}}</p>
    <p>{{object.event_datetime_start}}</p>
    <p>{{object.event_datetime_end}}</p>
    <p>{{object.event_organizer }}</p>
    <p>{{object.last_time_bumped}}</p>
    <p>{{object.can_be_bumped}}</p>
    {% for promo in object.promos.all %}
        <img src="{{ promo.img.url }}">
    {% endfor %}
    {% for message in messages %}
        <div class="alert 
        {% if message.tags == 'error' %}
            alert-danger
        {% else %}
            alert-success
        {% endif %}
        ">{{ message.tags }}: {{ message }}</div>
    {% endfor %}
    {% if user == object.event_organizer %}
        <button type="button" onclick="location.href='{{ event.get_update_url }}'">Update</button>
        <button
            onclick="location.href='{% url 'event_management:bump-event' object.pk %}'"
            class="btn btn-primary"
            {% comment %} disables the button if it cannot be bumped {% endcomment %}
            {% if not object.can_be_bumped %} disabled {% endif %}
        >Bump Event</button>
    {% endif %}
</div>

{% endblock %}
