{% extends 'base.html' %}
{% load static %}
{% block title %}{{ object }}{% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">

    <div class="container event-container bg-light shadow overflow-hidden my-3 my-md-5">
        
        <!-- Header Image Row -->
        <div class="row">
            <div class="col mx-0 px-0">
                <img src="{{ object.event_header.url }}" class="img-fluid w-100 object-fit-cover" alt="{{ object.event_name }}">
            </div>
        </div>
    
        <!-- Event Name Row -->
        <div class="row mt-md-3 mt-2">
            <div class="col">
                <h1>{{ object.event_name }}</h1>
            </div>
        </div>

        <!-- Event Organizer Row -->
        <div class="row mb-4">
            <div class="col d-flex flex-column justify-content-end text-end">
                <h3 class="event-organizer inria-normal my-0">Organized by 
                    <a href="{{ object.event_organizer.get_absolute_url }}" 
                        class="btn border-dark text-wrap user-link rounded-pill 
                        text-decoration-underline pt-0 pb-1 px-2 mb-0"
                    >{{ object.event_organizer }}</a>
                </h3>
            </div>
        </div>

        <!-- Event Details Row -->
        <div class="row mb-3">
            <!-- Date, Time, and Venue Column -->
            <div class="col-md-6 mb-1">
                <!-- Date -->
                <div class="row">
                    <div class="col">
                        {% if object.event_datetime_start.date == object.event_datetime_end.date %}
                            <h4 class="inria-normal">Date: {{ object.event_datetime_start.date }}</h4>
                        {% else %}
                            <h4 class="inria-normal">Date: {{ object.event_datetime_start.date }} - {{ object.event_datetime_end.date }}</h4>
                        {% endif %}
                    </div>
                </div>

                <!-- Time -->
                <div class="row">
                    <div class="col">
                        {% if object.event_datetime_start.time == object.event_datetime_end.time %}
                            <h4 class="inria-normal">Time: {{ object.event_datetime_start|time:"h:i A" }}</h4>
                        {% else %}
                            <h4 class="inria-normal">Time: {{ object.event_datetime_start|time:"h:i A" }} - {{ object.event_datetime_end|time:"h:i A" }}</h4>
                        {% endif %}
                    </div>
                </div>

                <!-- Venue -->
                <div class="row">
                    <div class="col">
                        <h4 class="inria-normal">Venue: {{ object.event_venue }}</h4>
                    </div>
                </div>

            </div>

            <!-- Event Description and Button(Bump, Update, RSVP) Column -->
            <div class="col-md-6">

                <!-- Event Description -->
                <div class="row">
                    <div class="col">
                        <p class="inria-normal">{{ object.event_description }}</p>
                    </div>
                </div>

                <!-- RSVP or (Update and Bump) -->
                <div class="row">
                    <div class="col">
                        <div class="row d-flex justify-content-end">
                            {% if user.is_authenticated %}
                                {% if user == object.event_organizer %}
                                    <div class="col-auto mt-1 mb-3">                            
                                        <button 
                                            type="button" 
                                            onclick="location.href='{{ event.get_update_url }}'" 
                                            class="btn btn-blue me-2 px-4"
                                        >Update</button>
                                    </div>
                                    <div class="col-auto mt-1 mb-3">
                                        <button
                                            type="button"
                                            onclick="location.href='{% url 'event_management:bump-event' object.pk %}'"
                                            class="btn btn-red me-2 px-4"
                                            {% comment %} disables the button if it cannot be bumped {% endcomment %}
                                            {% if not object.can_be_bumped %} 
                                                disabled 
                                                aria-disabled="true"
                                            {% endif %}
                                        >Bump Event</button>
                                    </div>
                                {% elif user != object.event_organizer %}
                                    <div class="col-auto mt-1 mb-3">
                                        <button 
                                            type="button"
                                            onclick="location.href='{% url 'event_management:event-rsvp' object.pk %}'"
                                            class="btn btn-red me-2 px-4"
                                        >RSVP</button>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Display a message for bumping events -->
                <div class="row">
                    <div class="col">
                        <!-- <p>Time until bump:{{ remaining_time }}</p> -->
                        {% if user.is_authenticated and user == object.event_organizer %}
                            {% if object.can_be_bumped %}
                                <p class="text-end">Note: Promote your event by clicking the Bump Event button.</p>
                            {% else %}
                                <p class="text-end">Note: Bump the event again 2 days after your previous bump.</p>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                
            </div>

        </div>

        <!-- Promo Images Row -->
        <div class="row mb-4">
            <div class="col mt-1">
                {% for promo in object.promos.all %}
                    <img src="{{ promo.img.url }}" class="img-fluid rounded float-left mb-2 me-2" alt="promo images">
                {% endfor %}
            </div>
        </div>


        <!-- Attendee List -->
        <div class="row mb-2">
            <div class="col">
                <h3>See who's attending 👀</h3>
            </div>
        </div>

        <!-- Displays 4 users who have RSVP'd to the event -->
        <div class="row">
            {% for attendee in attendance_limited %}
                <div class="col-xl-3 col-lg-4 col-sm-6 mb-sm-1 mb-3">
                    <div class="card attendee-card h-100">
                        <img src="{{ attendee.attendee.picture.url }}" class="card-img-top ratio ratio-1x1 attendee-img mx-auto" alt="{{ attendee.attendee }}">
                        <div class="card-body mb-0 pb-0">
                            <p class="card-text attendee-text inria-normal text-center mb-0">{{ attendee.attendee }}</p>
                            <a href="{{ attendee.attendee.get_absolute_url }}" class="card-link stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row mb-3">
            <div class="col me-1">
                <h3 class="text-end">...and many more!</h3>
            </div>
        </div>
     
        <!-- Attendee Check for Organizer -->
        <div class="row">
            <div class="col">
                {% if user.is_authenticated %}
                    {% if user == object.event_organizer %}
                        <h3 class="mt-4">ATTENDANCE STATUS</h3>

                        <form method="POST" action="{% url 'event_management:event-attendance' object.pk %}">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table">
                                    <tr scope="col">
                                        <th>Attendee Name</th>
                                        <th class="text-center">Has Attended?</th>
                                    </tr>

                                    {% for record in attendance %}
                                        <tr>
                                            <td> {{ record.attendee }} </td>
                                            <td class="text-center">
                                                <input class="form-check-input" type="checkbox" name="{{record.pk}}" {% if record.has_attended %} checked {% endif %}/>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                                <div class="d-flex justify-content-end">
                                    <button type="submit" class="btn btn-red d-flex mb-4 me-2 px-4">Save Attendance</button>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        
    </div>

</div> 

{% endblock %}