{% extends 'base.html' %}
{% block event_form %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
  {{ form.media }}
{% endblock %}
{% load static %}
{% block title %}Widget's Forum{% endblock %}
{% block content %}
    {{ form.non_field_errors }}
    {% for field in form %}
        {% if field.errors %}
            <p>{{ field.label }} has the following errors:</p>
            <ul>
                {%  for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Save"/>
    </form>
{% endblock %}