@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
     --theme-prusian-blue: #003049;
     --theme-bright-red: #D62727;
     --theme-orange: #F77F00;
     --theme-yellow-red: #FCBF49;
     --theme-dutch-white: #EAE2B7;
     --theme-white: ##F8F9FA;
}

* {
     font-family: "Inter";
     font-size: 1rem;
}

/* .blue-text {
     color: var(--theme-prusian-blue);
}

.body-text {
     font-family: 'Inria Sans';
     font-weight: 400;
     font-style: normal;
} */

body {
     font-family: "Inter";
     background-color: var(--theme-dutch-white);
     background-image: url("/static/images/Continuous Background.png");
     background-position: left top;
     background-repeat: repeat-y;
     background-size: 80%;
}


/*
     For Navigation Bar
*/

.navbar-brand {
     display: contents;
}


.nav-item {

    #nav-signup-profile {
         width: 120%;
         font-size: 1vw;
         margin-top: 0.45rem;
         color: #fff;
         background-color: var(--theme-bright-red);
         border-color: var(--theme-bright-red);

         &:hover {
              transition: all 0.3s ease-in;
              font-size: 1.0vw;
              color: #fff;
              background-color: var(--theme-prusian-blue);
              border-color: var(--theme-prusian-blue);
              box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
         }
    }
     #nav-login-logout {
          font-size: 1vw;
          margin-top: 0.45rem;
          color: #fff;
          background-color: var(--theme-prusian-blue);
          border-color: var(--theme-prusian-blue);

          &:hover {
               transition: all 0.3s ease-in;
               font-size: 1.0vw;
               color: #fff;
               background-color: var(--theme-bright-red);
               border-color: var(--theme-bright-red);
               box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
          }
     }
/*
     #login-register{
         width: 100%;
         color: #fff;
         background-color: var(--theme-bright-red);
         border-color: var(--theme-bright-red);
     }
*/

     .nav-link {
          transition: all 0.3s ease-in;
          color: var(--theme-bright-red) !important;
          font-size: 1.2vw;
          white-space: nowrap;

          &:hover{
              transition: all 0.3s ease-in;
              font-size: 1.3vw;
              color: var(--theme-prusian-blue) !important;
              text-decoration: underline;
          }
     }
}

.btn {
     transition: all 0.3s ease-in;
     font-size: 1vw;
     color: #000;
     background-color: var(--theme-white);
     border-color: var(--theme-white);
     border-radius: 0.3125rem;
     white-space: nowrap;
}

@media (max-width: 576px) {
     .logo {
          width:100px;
          height:auto;
     }
}

@media (min-width: 577px) {
     .logo {
          width:20%;
          max-width:200px;
          height:auto;
     }
}


/*
     For Event Catalog / Event List
*/

.mt-6 {
     margin-top: 5rem !important;
}

h1 {
     color: var(--theme-prusian-blue);
}

.btn-submit {
     background-color: var(--theme-bright-red);
     color: white;

     &:hover {
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
     }
}

.card {
     border: 1px solid white;
     overflow: hidden;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

     &:hover {

     }

     &:click {

     }
}
 
.card-img-top {
     height: 200px;
     object-fit: cover;
}
 
.card-title {
     font-size: 1.25rem;
     color: var(--theme-prusian-blue);
}
 
.card-text {
     font-family: 'Inria Sans';
     color: black;

     &.organizer {
          font-size: 1rem;
          font-weight: 400;
          font-style: italic;
     }

     &.datetime {
          font-size: 0.9rem;
          font-weight: 300;
          font-style: normal;
     }
}

@media (max-width: 768px) {
     .card-img-top {
          height: 150px;
     }
}

/* .center-cropped {
     height: 100px;
     width: 100px;
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
 } */

/* .btn-red {
     transition: all 0.3s ease-in;
     font-size: 1.5vw;
     background-color: var(--theme-bright-red);
     color: #fff;
     border-color: var(--theme-bright-red);
     white-space: nowrap;
}

.btn-red:hover {
     transition: all 0.3s ease-in;
     font-size: 1.55vw;
     background-color: var(--theme-prusian-blue);
     color: #fff;
     border-color: var(--theme-prusian-blue);

}

@media (max-width: 950px) {
     .navbar-brand {
        width: 90%;
     }
}

@media (max-width: 780px) {
     .navbar-brand {
        width: 85%;
     }
}

@media (max-width: 560px) {
     .navbar-brand {
        width: 75%;
     }
}

@media (max-width: 425px) {
     .navbar-brand {
        width: 70%;
     }
}

.nav-link {
     transition: all 0.3s ease-in;
     color: var(--theme-bright-red) !important;
     font-size: 1.5vw;
     white-space: nowrap;
}


.nav-link:hover {
     transition: all 0.3s ease-in;
     font-size: 1.55vw;
     color: var(--theme-prusian-blue) !important;
     text-decoration: underline;
} */

#trial {
     align-items: center;
     background-color: white;
}


#featured-events-div {
     margin-top: 7.5rem;
     height: 100vh;
}

#rbb-container {
     align-items: center;
     justify-content: center;
}

#rbb-section {
     border-radius: 0.625rem;
     border: 1px solid #000;
     background: #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-group > label {
     margin-top: 1.19rem;
}

.form-group > input:not([type="submit"]) {
     border-radius: 0.625rem !important;
     border: 1px solid #000 !important;
     background: #FFF !important;
}
*/

.login-btn {
     margin-top: 1.62rem;
     width: 100%;
     border-radius: 0.3125rem;
     background: #DF4E4E;
     border-color: #DF4E4E;
}


#trial {
     align-items: center;
     background-color: white;
}


#featured-events-div {
     margin-top: 7.5rem;
     height: 100vh;
}

#login-container {
     align-items: center;
     justify-content: center;
}

#login-form {
     border-radius: 0.625rem;
     border: 1px solid #000;
     background: #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-group > label {
     margin-top: 1.19rem;
}

.form-group > input:not([type="submit"]) {
     border-radius: 0.625rem !important;
     border: 1px solid #000 !important;
     background: #FFF !important;
}

.profile-pill {
     padding: .35em .65em;
     font-size: .75em;
     font-weight: 700;
     line-height: 1;
     color: #fff;
     text-align: center;
     white-space: nowrap;
     vertical-align: baseline;
     border-radius: .25rem;
     background-color: var(--theme-bright-red);
}
