@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
     --theme-prusian-blue: #003049;
     --theme-bright-red: #D62727;
     --theme-orange: #F77F00;
     --theme-yellow-red: #FCBF49;
     --theme-dutch-white: #EAE2B7;
     --theme-white: #F8F9FA;

     /* --custom-font-size-sm: .80rem; */
     --custom-font-size-xs: .85rem;

     --custom-rounded-border: 10px;
}

body {
     font-family: "Inter";
     background-color: var(--theme-dutch-white);
     background-image: url("/static/images/Continuous Background.png");
     background-position: left top;
     background-repeat: repeat-y;
     background-size: 80%;
}

/*
     For Elements
*/

.inria-light {
     font-family: 'Inria Sans';
     font-weight: 300;
}

.inria-normal {
     font-family: 'Inria Sans';
     font-weight: 400;
}

.btn-classic {
     transition: all 0.3s ease-in;
     font-size: 1vw;
     color: #000;
     background-color: var(--theme-white);
     border-color: var(--theme-white);
     border-radius: 0.3125rem;
     white-space: nowrap;
}

.btn-red {
     color: #fff;
     background-color: var(--theme-bright-red);
     border-color: var(--theme-bright-red);
     /* font-size: var(--custom-font-size-sm) */

     &:hover {
          transition: all 0.3s ease-in;
          color: #fff;
          background-color: var(--theme-prusian-blue);
          border-color: var(--theme-prusian-blue);
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
     }

     &:active {
          transform: scale(.95);
     }
}

.btn-blue {
     color: #fff;
     background-color: var(--theme-prusian-blue);
     border-color: var(--theme-prusian-blue);
     /* font-size: var(--custom-font-size-sm) */

     &:hover {
          transition: all 0.3s ease-in;
          color: #fff;
          background-color: var(--theme-bright-red);
          border-color: var(--theme-bright-red);
          box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
     }

     &:active {
          transform: scale(.95);
     }
}

/*
     For Navigation Bar
*/

.navbar-brand {
     display: contents;
}

.nav-item {

    #nav-signup-profile {
         width: 120%;
         font-size: 1vw;
         margin-top: 0.45rem;
         color: #fff;
         background-color: var(--theme-bright-red);
         border-color: var(--theme-bright-red);

         &:hover {
              transition: all 0.3s ease-in;
              font-size: 1.0vw;
              color: #fff;
              background-color: var(--theme-prusian-blue);
              border-color: var(--theme-prusian-blue);
              box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
         }
    }

     #nav-login-logout {
          font-size: 1vw;
          margin-top: 0.45rem;
          color: #fff;
          background-color: var(--theme-prusian-blue);
          border-color: var(--theme-prusian-blue);

          &:hover {
               transition: all 0.3s ease-in;
               font-size: 1.0vw;
               color: #fff;
               background-color: var(--theme-bright-red);
               border-color: var(--theme-bright-red);
               box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
          }
     }

     .nav-link {
          transition: all 0.3s ease-in;
          color: var(--theme-bright-red) !important;
          font-size: 1.2vw;
          white-space: nowrap;

          &:hover{
              transition: all 0.3s ease-in;
              font-size: 1.3vw;
              color: var(--theme-prusian-blue) !important;
              text-decoration: underline;
          }
     }
}

@media (max-width: 575px) {
     .logo {
          width:100px;
          height:auto;
     }

     .btn-red {
          font-size: var(--custom-font-size-xs);
     }

     .btn-blue {
          font-size: var(--custom-font-size-xs);
     }
}

@media (min-width: 576px) {
     .logo {
          width:20%;
          max-width:200px;
          height:auto;
     }
}

/*
     For Event Catalog / Event List / Event Search
*/

.mt-6, .my-6 {
     margin-top: 5rem !important;
}

h1, h5 {
     color: var(--theme-prusian-blue);
}

.card {
     border: 1px solid white;
     border-radius: var(--custom-rounded-border);
     overflow: hidden;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

     &:hover {
          /*
               adds border to bottom-right on hover
          */
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
     }

     &:active {
          /*
               creates a shrink effect on click
          */
          transform: scale(.95);
     }

     .card-img-top {
          height: 200px;
          object-fit: cover;
     }

     .card-title {
          font-size: 1.25rem;
          color: var(--theme-prusian-blue);
     }

     .card-text {
          color: black;

          &.organizer {
               font-size: 1rem;
               font-style: italic;
          }

          &.datetime {
               font-size: 0.9rem;
               font-style: normal;
          }
     }
}

@media (max-width: 767px) {
     .card-img-top {
          height: 150px;
     }
}

/*
     For Event Details
*/

.event-container {
     border-radius: var(--custom-rounded-border);

     .event-organizer {
          font-style: italic;

          .user-link {
               color: var(--theme-prusian-blue);
               font-size: 1.25rem;
               &:hover {
                    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
               }

               &:active {
                    /*
                         creates pressed effect on click
                    */
                    background: #e5e5e5;
                    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
                         -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
                              box-shadow: inset 0px 0px 5px #c1c1c1;
                    outline: none;
               }
          }
     }
}

.alert {
     position: sticky; 
     top:0%;
     margin-bottom: 0%;
}

/*
     For Event Forms
*/

.event-form-card {
     &:active {
          transform: scale(1);
     }
}

/* 
     For Home
*/

.home-card {
     background-color: var(--theme-bright-red);

     .home-card-text {
          color: white;
     }
}

/*
     For Forms
*/

#trial {
     align-items: center;
     background-color: white;
}

#featured-events-div {
     margin-top: 7.5rem;
     height: 100vh;
}

#rbb-container {
     align-items: center;
     justify-content: center;
}

#rbb-section {
     border-radius: 0.625rem;
     border: 1px solid #000;
     background: #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
     width: auto;
}

.mx-form {
     margin-left: 20rem;
     margin-right: 20rem;
}

.form-group > label {
     margin-top: 1.19rem;
}

.form-group > input:not([type="submit"]) {
     border-radius: 0.625rem !important;
     border: 1px solid #000 !important;
     background: #FFF !important;
}


.login-btn {
     color: #fff;
     margin-top: 1.62rem;
     width: 100%;
     border-radius: 0.3125rem;
     background: #DF4E4E;
     border-color: #DF4E4E;
}

#login-container {
     align-items: center;
     justify-content: center;
}

#login-form {
     border-radius: 0.625rem;
     border: 1px solid #000;
     background: #FFF;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form-group > label {
     margin-top: 1.19rem;
}

.form-group > input:not([type="submit"]) {
     border-radius: 0.625rem !important;
     border: 1px solid #000 !important;
     background: #FFF !important;
}

textarea, input {
     width: 100%;
}

.profile-pill {
     padding: .35em .65em;
     font-size: 1em;
     font-weight: 700;
     line-height: 1;
     color: #fff;
     text-align: center;
     white-space: nowrap;
     vertical-align: baseline;
     border-radius: .25rem;
     background-color: var(--theme-bright-red);
}

/* User Profile */
.profile-picture {
     width: 400px;
     height: 400px;
}