{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.first_name}} {{object.last_name}}{% endblock %}

{% block content %}
<div id="rbb-container container" class="my-5">
    <div id="rbb-section" class="mx-form px-3 py-4 bg-white">
        <p class="h1">Update Profile</p>
        <form enctype="multipart/form-data" method="POST" autocomplete="off">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label>{{field.label}}</label>
                {% if field.field.required %}
                    <span class="required text-danger">*</span>
                {% endif %}
            
                {{field}}
                {% if field.help_text %}
                    <small class="text-muted"><br>{{ field.help_text }}</small>
                {% endif %}

                {% for error in field.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <input class="btn btn-red mt-3" type="submit" value="Update"/>
        </form>
    </div>
</div>
{% endblock %}