{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.first_name}} {{object.last_name}}{% endblock %}

{% block content %}

<div id="rbb-container container" class="d-flex my-5">

    <div id="rbb-section" class="mx-auto px-3 py-4 bg-white" style="width: 59rem;">

        <div class="row mx-4 mt-4 mb-5">

            <div class="col">
                <img class="profile-picture" src="{{ object.picture.url }}"/>
            </div>

            <div class="col">
                <p class="h1 blue-text">{{ object.first_name }} {{ object.last_name }}</p>
                {% comment %} <p><span class="badge badge-pill">{{ object.role }}</span></p> {% endcomment %}
                <span class="profile-pill rounded-pill px-4 mt-4">
                    {{ object.role.capitalize }}
                </span>
                <p class="my-3 body-text">{{ object.bio }}</p>
                {% if user.is_authenticated and user == object %}
                <div class="col mt-1 mb-3">                            
                    <button type="button" onclick="location.href='{{ object.get_update_url }}'" class="btn btn-blue px-4">Update Profile</button>
                </div>
                {% endif %}
            </div>
            
        </div>

        <div class="row">
            <p class="h1 blue-text">UPCOMING EVENTS</h1>
                {% comment %} generate list of upcoming events {% endcomment %}
        </div>

        <div class="row">
            <p class="h1 blue-text">EVENTS ATTENDED</h1>

            <div class="row mx-md-5 mx-sm-3 mx-1">
                {% for attended in events_attendee %}
                    {% if attended.has_attended %}
                    <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                        <div class="card h-100">
                            <img src="{{ attended.event.event_header.url }}" class="card-img-top" alt="{{ event.event_name }}">
                            <div class="card-body d-flex flex-column px-2 py-1">
                                <h6 class="card-title mb-0">{{ attended.event.event_name }}</h6>
                                <p class="card-text organizer inria-normal">{{ attended.event.event_organizer }}</p>
                                {% if attended.event.event_datetime_start.date == attended.event.event_datetime_end.date %}
                                    {% if attended.event.event_datetime_start.time == attended.event.event_datetime_end.time %}
                                        <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ attended.event.event_datetime_start.date }} | {{ attended.event.event_datetime_start|time:"h:i A" }}</p>
                                    {% else %}
                                        <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ attended.event.event_datetime_start.date }} | {{ attended.event.event_datetime_start|time:"h:i A" }} - {{ attended.event.event_datetime_end|time:"h:i A" }}</p>
                                    {% endif %}
                                {% else %}
                                    <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ attended.event.event_datetime_start.date }} - {{ attended.event.event_datetime_end.date }} | {{ attended.event.event_datetime_start|time:"h:i A" }} - {{ attended.event.event_datetime_end|time:"h:i A" }}</p>
                                {% endif %}
                                <a href="{{ attended.event.get_absolute_url }}" class="card-link stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>

        </div>

        <div class="row">
            <p class="h1 blue-text">EVENTS ORGANIZED</h1>
            {% comment %} generate list of organized events {% endcomment %}
            {% for event in events_organized %}
                <p>{{ event.event_name }}</p>
            {% endfor %}
        </div>

    </div>

</div>

{% endblock %}