{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.first_name }} {{ object.last_name }}{% endblock %}

{% block content %}

<div class="d-flex flex-column justify-content-center align-items-center">

    <div class="container event-container bg-light shadow overflow-hidden my-3 my-md-5">

        <div class="row mt-5 mx-2">

            <!-- Display Profile Picture -->
            <div class="col-lg-4 col-md-5 d-flex justify-content-center align-items-center">
                <img src="{{ object.picture.url }}" 
                    class="profile-picture ratio ratio-1x1"
                alt="{{ object.first_name }} {{ object.last_name }}">
            </div>

            <!-- Display Name, Role, and Bio -->
            <div class="col-lg-8 col-md-7">

                <!-- First Name and Last Name -->
                <div class="row">
                    <div class="col mt-4">
                        <h1>{{ object.first_name }} {{ object.last_name }}</h1>
                    </div>
                </div>

                <!-- Role -->
                <div class="row">
                    <div class="col mb-3">
                        <div class="profile-pill rounded-pill d-inline-block text-wrap pt-1 pb-2 px-4 mb-0">
                            {{ object.role.capitalize }}
                        </div>
                    </div>
                </div>

                <!-- Bio -->
                <div class="row">
                    <div class="col">
                        <p class="inria-normal bio">{{ object.bio }}</p>
                    </div>
                </div>

                <!-- Update Profile Button -->
                {% if user.is_authenticated and user == object %}
                    <div class="row d-flex justify-content-end">
                        <div class="col-auto mt-1">
                            <button 
                                type="button" 
                                onclick="location.href='{{ object.get_update_url }}'" 
                                class="btn btn-blue me-2 px-4"
                            >Update Profile</button>
                        </div>
                    </div>
                {% endif %}

            </div>

            <div class="row">
                <div class="col mt-4">
                    <h1 class="mt-4 mb-3">UPCOMING & ONGOING EVENTS</h1>
    
                    <div class="row mx-sm-2 mx-1">
                        {% for event in events_organized %}
                            {% if event.is_upcoming %}
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <img src="{{ event.event_header.url }}" class="card-img-top" alt="{{ event.event_name }}">
                                        <div class="card-body d-flex flex-column px-2 py-1">
                                            <h6 class="card-title mb-0">{{ event.event_name }}</h6>
                                            <p class="card-text organizer inria-normal">{{ event.event_organizer }}</p>
                                            {% if event.event_datetime_start.date == event.event_datetime_end.date %}
                                                {% if event.event_datetime_start.time == event.event_datetime_end.time %}
                                                    <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ event.event_datetime_start.date }} | {{ event.event_datetime_start|time:"h:i A" }}</p>
                                                {% else %}
                                                    <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ event.event_datetime_start.date }} | {{ event.event_datetime_start|time:"h:i A" }} - {{ event.event_datetime_end|time:"h:i A" }}</p>
                                                {% endif %}
                                            {% else %}
                                                <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ event.event_datetime_start.date }} - {{ event.event_datetime_end.date }} | {{ event.event_datetime_start|time:"h:i A" }} - {{ event.event_datetime_end|time:"h:i A" }}</p>
                                            {% endif %}
                                            <a href="{{ event.get_absolute_url }}" class="card-link stretched-link"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col mt-4">
                    <h1 class="mt-4 mb-3">ATTENDED EVENTS</h1>
    
                    <div class="row mx-sm-2 mx-1">
                        {% for event in events_attendee %}
                            {% if event.has_attended %}
                                <div class="col-lg-4 col-sm-6 mb-4">
                                    <div class="card h-100">
                                        <img src="{{ event.event.event_header.url }}" class="card-img-top" alt="{{ event.event.event_name }}">
                                        <div class="card-body d-flex flex-column px-2 py-1">
                                            <h6 class="card-title mb-0">{{ event.event.event_name }}</h6>
                                            <p class="card-text organizer inria-normal">{{ event.event.event_organizer }}</p>
                                            {% if event.event.event_datetime_start.date == event.event.event_datetime_end.date %}
                                                {% if event.event.event_datetime_start.time == event.event.event_datetime_end.time %}
                                                    <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ event.event.event_datetime_start.date }} | {{ event.event.event_datetime_start|time:"h:i A" }}</p>
                                                {% else %}
                                                    <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ event.event.event_datetime_start.date }} | {{ event.event.event_datetime_start|time:"h:i A" }} - {{ event.event.event_datetime_end|time:"h:i A" }}</p>
                                                {% endif %}
                                            {% else %}
                                                <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ event.event.event_datetime_start.date }} - {{ event.event.event_datetime_end.date }} | {{ event.event.event_datetime_start|time:"h:i A" }} - {{ event.event.event_datetime_end|time:"h:i A" }}</p>
                                            {% endif %}
                                            <a href="{{ event.event.get_absolute_url }}" class="card-link stretched-link"></a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col mb-5 mt-4">
                    <h1 class="mt-4 mb-3">ORGANIZED EVENTS</h1>
    
                    <div class="row mx-sm-2 mx-1">
                        {% for event in events_organized %}
                            <div class="col-lg-4 col-sm-6 mb-4">
                                <div class="card h-100">
                                    <img src="{{ event.event_header.url }}" class="card-img-top" alt="{{ event.event_name }}">
                                    <div class="card-body d-flex flex-column px-2 py-1">
                                        <h6 class="card-title mb-0">{{ event.event_name }}</h6>
                                        <p class="card-text organizer inria-normal">{{ event.event_organizer }}</p>
                                        {% if event.event_datetime_start.date == event.event_datetime_end.date %}
                                            {% if event.event_datetime_start.time == event.event_datetime_end.time %}
                                                <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ event.event_datetime_start.date }} | {{ event.event_datetime_start|time:"h:i A" }}</p>
                                            {% else %}
                                                <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ event.event_datetime_start.date }} | {{ event.event_datetime_start|time:"h:i A" }} - {{ event.event_datetime_end|time:"h:i A" }}</p>
                                            {% endif %}
                                        {% else %}
                                            <p class="card-text datetime inria-light align-self-end text-end mb-0 mt-auto">{{ event.event_datetime_start.date }} - {{ event.event_datetime_end.date }} | {{ event.event_datetime_start|time:"h:i A" }} - {{ event.event_datetime_end|time:"h:i A" }}</p>
                                        {% endif %}
                                        <a href="{{ event.get_absolute_url }}" class="card-link stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div> 
            </div>

        </div>

    </div>
</div>

{% endblock %}