{% extends "base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center">
        
    <div class="register event-container bg-light shadow overflow-hidden px-md-3 px-2 my-md-5 my-3">
        
        <!-- Sign Up -->
        <div class="row mt-md-3 mt-2">
            <div class="col">
                <h1 class="text-center">Sign Up</h1>
            </div>
        </div>

        <div class="row">
            <div class="col ms-2 me-2">
                <form enctype="multipart/form-data" method="POST" autocomplete="off">
                    {% csrf_token %}

                    {% for field in registerform %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>

                            {% if field.field.required %}
                                <span class="required text-danger">*</span>
                            {% endif %}
                        
                            {{ field }}

                            {% if field.help_text %}
                                <small class="text-muted"><br>{{ field.help_text }}</small>
                            {% endif %}

                            {% for error in field.errors %}
                                <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    
                    <!-- Register Button -->
                    <div class="d-flex justify-content-center mt-3 mb-4">
                        <button type="submit" class="btn btn-red btn-accounts py-1 flex-grow-1" value="Register">Register</button>
                    </div>
                </form>

                <div class="d-flex justify-content-center mt-3 mb-4">
                    <h6>Already have an account? 
                        <a class="text-decoration-none" href="{% url 'accounts:login' %}">Log In</a>
                    </h6>
                </div>

            </div>
        </div>

    </div> 
</div>

<!-- 
<div id="rbb-container container" class="my-5">
    <div id="rbb-section" class="mx-form px-3 py-4 bg-white">
        <h1>Sign Up</h1>
        <form enctype="multipart/form-data" method="POST" autocomplete="off">
            {% csrf_token %}
            {% for field in registerform %}
            <div class="form-group">
                <label>{{field.label}}</label>
                {% if field.field.required %}
                    <span style="color: red;" class="required">*</span>
                {% endif %}
            
                {{field}}
                {% if field.help_text %}
                    <small style="color: grey"><br>{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <input class="btn-red login-btn" type="submit" value="Register"/>
        </form>
    </div>
</div> -->

{% endblock %}
