{% extends "base.html" %}

{% block content %}
<!--
<form method="POST" autocomplete="off">
    {% csrf_token %}
    {{ registerform.as_p }}
    <input type="submit" value="Register"/>
</form>
-->

<div id="rbb-container container" class="d-flex my-5">
    <div id="rbb-section" class="mx-auto px-3 py-4 bg-white" style="width: 23rem;">
        <p class="h1">Sign up</p>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <label class="h5" for="password">Password</label>
                {{ registerform.as_p }}
            </div>
            <input class="btn-red login-btn" type="submit" value="Register"/>
        </form>
    </div>
</div>

{% endblock %}
