{% extends "base.html" %}
{% load static %}
{% block title %}Red Brick Board{% endblock %}

{% block content %}

<div class="container-fluid mt-6 pt-5 bg-light">

    <!-- Displays Page Title as Header -->
    <div class="d-flex justify-content-center align-items-center">
        <h1>Welcome to Red Brick Board!</h1>
    </div>

    <!-- Displays Top 3 Events based on last_time_bumped in Card Format -->
    <div class="row mx-md-5 mx-sm-3 mx-1">
        {% for event in object_list %}
            <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <img src="{{ event.event_header.url }}" class="card-img-top" alt="{{ event.event_name }}">
                    <div class="card-body d-flex flex-column px-2 py-1">
                        <h6 class="card-title mb-0">{{ event.event_name }}</h6>
                        <p class="card-text organizer inria-normal">{{ event.event_organizer }}</p>
                        {% if event.event_datetime_start.date == event.event_datetime_end.date %}
                            {% if event.event_datetime_start.time == event.event_datetime_end.time %}
                                <p class="card-text datetime inria-light align-self-end mb-0 mt-auto">{{ event.event_datetime_start.date }} | {{ event.event_datetime_start|time:"h:i A" }}</p>
                            {% else %}
                                <p class="card-text datetime inria-light align-self-end mb-0 mt-auto">{{ event.event_datetime_start.date }} | {{ event.event_datetime_start|time:"h:i A" }} - {{ event.event_datetime_end|time:"h:i A" }}</p>
                            {% endif %}
                        {% else %}
                            <p class="card-text datetime inria-light align-self-end mb-0 mt-auto">{{ event.event_datetime_start.date }} - {{ event.event_datetime_end.date }} | {{ event.event_datetime_start|time:"h:i A" }} - {{ event.event_datetime_end|time:"h:i A" }}</p>
                        {% endif %}
                        <a href="{{ event.get_absolute_url }}" class="card-link stretched-link"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
            <div class="card h-100 home-card">
                <!-- <img src="{{ event.event_header.url }}" class="card-img-top" alt="{{ event.event_name }}"> -->
                <div class="card-body d-flex flex-column justify-content-center align-items-center px-2 py-1">
                    <h1 class="mb-0 text-center home-card-text">Click Here to See More!</h1>
                    <!-- <p class="card-text organizer inria-normal">{{ event.event_organizer }}</p>
                    <p class="card-text datetime inria-light align-self-end mb-0 mt-auto">{{ event.event_datetime_start.date }} | {{ event.event_datetime_start|time:"h:i A" }}</p> -->
                    <a href="{% url 'event_management:event-featured' %}" class="card-link stretched-link"></a>
                </div>
            </div>
        </div>

    </div>
    
</div>

{% endblock %}

<!-- <div id="featured-events-div" class="py-3 px-5 container-fluid bg-white">
    <p class="h1">Featured Events</p>
    {% comment %} Delete text-center if you want it to be left-aligned {% endcomment %}
    <div class="container text-center">
        {% comment %} 
        Loop for events 
        https://getbootstrap.com/docs/5.3/components/card/#images
        {% endcomment %}
        {% for event in object_list %}
            <ul>
                <div class="center-cropped"
                    style="background-image: url({{event.event_header.url}});"></div>
                </div>
                <a href="{{ event.get_absolute_url }}">{{ event.event_name }}</a>
                <li>{{event.event_organizer}}</li>
            </ul>
        {% endfor %}
    </div>
</div> -->