<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  {% block head %}
  {% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/Logo.png' %}">
  <title>{% block title %}Red Brick Board{% endblock %}</title>
  <style>
    .center-cropped {
        height: 100px;
        width: 100px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
 </style> 
</head>
<body>
     <nav class="navbar navbar-expand-md navbar-light bg-light px-5">
          <div class="container-fluid">
               <a class="navbar-brand" href="#"> <!--link to about page/section-->
                    <img src="{% static '/images/Logo with Name.png' %}" alt="Red Brick Board" class="logo">
               </a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse justify-content-end align-items-center" id="nav">
                    <ul class="navbar-nav">
                         <li class="nav-item">
                              <a href="#" class="nav-link mt-1">Home</a>
                         </li>
                         <li class="nav-item">
                              <a href="#" class="nav-link mt-1">Catalog</a>
                         </li>
                         <li class="nav-item">
                              <a href="#" class="nav-link me-4 mt-1">Profile</a>
                         </li>
                         <li class="nav-item">
                              <a href="#" class="btn me-3 mt-1" id="add-event-btn">Add Event</a>
                         </li>
                         <li class="nav-item">
                              {% if user.is_authenticated %}
                                   <form role="Log Out" action="{% url 'accounts:logout' %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn mt-1" type="submit" id="log-out-btn">Log Out</button>
                                   </form>
                              {% else %}
                                   <form role="Log In" action="{% url 'accounts:login' %}" method="post">
                                        {% csrf_token %}
                                        <button class="btn mt-1" type="submit" id="log-out-btn">Log In</button>
                                   </form>
                              {% endif %}
                              <!-- <a href="#" class="btn mt-1" id="log-out-btn">Log Out</a> -->
                         </li>
                    </ul>
               </div>
          </div>
     </nav>
  <!-- <nav class="px-5 navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid justify-content-end">
    <a class="navbar-brand" href="/">
          <img src="{% static '/images/Logo with Name.png' %}" alt="Red Brick Board" style="width:30%; height:auto;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link" href="/eventcatalog" style="margin-right: 2.94rem;">Event Catalog</a>
        </li>
        <li class="nav-item">
        {% if user.is_authenticated %}
              <form role="Log Out" action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-red" type="submit">Log Out</button>
              </form>
        {% else %}
              <form role="Log In" action="{% url 'accounts:login' %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-red" type="submit">Log In</button>
              </form>
        {% endif %}
        </li>
      </ul>
  </div>
</nav> -->
  {% block content %}
  {% endblock %}
</body>
</html>