<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
     {% load bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}
     {% bootstrap_messages %}
     {% block head %}
     {% endblock %}
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="{% static '/css/custom.css' %}">
     <link rel="icon" type="image/x-icon" href="{% static '/images/Logo.png' %}">
     {% block styles %} {% endblock %}
     <title>{% block title %}Red Brick Board{% endblock %}</title>
</head>

<body>
     <nav class="navbar navbar-expand-md sticky-top navbar-light bg-light px-md-5 px-sm-3 px-1">
          <div class="container-fluid d-flex">

               <!-- Display Logo -->
               <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static '/images/Logo with Name.png' %}" alt="Red Brick Board" class="logo me-3 me-sm-4">
               </a>

               <!-- Hamburger Icon for Navbar -->
               <button class="navbar-toggler mt-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>

               <!-- Contents of Hmaburger Icon in Navbar -->
               <div class="collapse navbar-collapse justify-content-start align-items-center" id="nav">
                    <ul class="navbar-nav">
                         <li class="nav-item">
                              <a href="{% url 'event_management:event-list' %}" class="nav-link mt-1">Events</a>
                         </li>
                         <li class="nav-item">
                              <a href="{% url 'event_management:event-featured' %}" class="nav-link mt-1">Featured</a>
                         </li>
                         <li class="nav-item">
                              <a href="{% url 'event_management:event-create' %}" class="nav-link mt-1">Create</a>
                         </li>
                    </ul>
               </div>

               <!-- Next Line on Small Screen View -->
               <div class="w-100"></div>

               <!-- Display Log In/Log Out and Sign Up/My Profile -->
               <div class="container-fluid d-flex justify-content-end align-items-center pe-0">
                    {% if user.is_authenticated %}
                         <div class="col-auto">
                              <form role="Log Out" action="{% url 'accounts:logout' %}" method="post">
                                   {% csrf_token %}
                                   <button type="submit" class="btn btn-classic me-4 mt-2">Log Out</button>
                              </form>
                         </div>

                         <div class="col-auto">
                              <a href="{% url 'accounts:profile' request.user.pk %}" class="btn btn-red mt-2">My Profile</a> 
                         </div>
                    {% else %}
                         <div class="col-auto">
                              <form role="Log In" action="{% url 'accounts:login' %}" method="post">
                                   {% csrf_token %}
                                   <button type="submit" class="btn btn-classic me-4 mt-2">Log In</button>
                              </form>
                         </div>
                         
                         <div class="col-auto">
                              <a href="{% url 'accounts:register' %}" class="btn btn-red mt-2">Sign Up</a>
                         </div>
                    {% endif %}
               </div>

          </div>
     </nav>

     {% block content %}
     {% endblock %}

</body>
</html>